<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <Search
            @sortPost="emitPost"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card-columns">
      <Card
          v-for="item in outputPost"
          :key="item.id"
          :card="item"
          :user=findUser(item.userId)
      />
    </div>
  </div>
</template>
<script>
import Card from "@/components/Card";
import Search from "@/components/SearchForm";
import ApiService from "@/service/api";
import PostFilter from "@/service/postFilter";

export default {
  name: "main-component",
  components: {Card, Search},
  computed: {},
  methods: {
    getInfo() {
      ApiService.getPost().then((response) => {
        this.postsArr = response.data;
        this.outputPost = response.data;
      });
      ApiService.getAuthor().then(response => this.authorArr = response);
    },
    emitPost(value) {
      this.outputPost = PostFilter.apiFilter(this.postsArr, this.authorArr, value);
    },
    findUser(userId) {
      return this.authorArr.filter(author => {return userId === author.id})[0]
    }
  },
  mounted() {
    this.getInfo()
  },
  data() {
    return {
      authorArr: [],
      postsArr: [],
      outputPost: [],
    }
  }
}
</script>