<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title color-link font-weight-bold">{{ card.title }}</h5>
      <p class="card-text">{{ card.body }}</p>
      <p class="card-text"><small class="text-muted">{{user.username}}</small></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "card-component",
  props: {
    card: {
      type: Object,
      default() {
        return {}
      }
    },
    user: {
      type: Object,
      default() {
        return {}
      }
    }
  }
}
</script>

<style lang="scss">
.color-link {
  color: #007bff;
}
</style>