<template>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><BIconSearch/></span>
    </div>
    <input
        type="text"
        class="form-control"
        placeholder="Filter by author"
        aria-label="Username"
        aria-describedby="basic-addon1"
        v-model="searchPost"
    >
  </div>
</template>

<script>
export default {
  name: "SearchForm-component",
  watch: {
    searchPost(value) {
      this.$emit('sortPost', value.toLowerCase())
    }
  },
  data() {
    return {
      searchPost: ''
    }
  }
}
</script>