<template>
  <router-view></router-view>
</template>

<script>


export default {}
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap";


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
